* ::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    background-color: rgba(168, 68, 68, 0.87);
    height: 100px;
    outline: none;
    position: relative;
    box-shadow: 0 2px #888888;
    margin-bottom: 20px;
}

.App h1 {
    font-weight: bolder;
    text-shadow: 0 0 3px #FF0000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-form {
    width: 60rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 0.5rem;
    margin-bottom: 5rem;
    box-shadow: 1rem 2rem 5rem #aaa;
    position: relative;
}

.search-form input {
    font-size: 1.6rem;
    border: none;
    border-bottom: 0.1rem solid #ccc;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    height: 3rem;
}

.search-form input[type="text"] {
    padding: 0 0.5rem;
    width: 60%;
    color: #555;
}

.search-form input[type="submit"] {
    width: 25%;
    text-transform: uppercase;
    background-color: rgba(168, 68, 68, 0.9);
    color: #fff;
}


.recipes {
    width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin: 0 auto;
}

.recipe {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto 3.5rem auto;
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 2rem 3rem 5rem #aaa;
    background-color: #d3d3d3;
}

.recipe h2 {
    position: absolute;
    left: 1rem;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(161, 161, 161, 0.7);
    width: 90%;
    font-size: 1.5rem;
}

.recipe img {
    border-radius: 0.5rem;
    object-fit: cover;
    height: 300px;
}

.recipe button {
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(168, 68, 68, 0.9);
    border: none;
    border-radius: o.5rem;
    height: 2rem;
    width: 50%;
    margin: 1rem auto 1rem auto;
}

.ingredient-list {
    list-style-type: none;
    background-color: rgba(161, 161, 161, 0.7);
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: left;
}

.ingredient-list li {
    margin-bottom: 0.5rem auto -0.5rem auto;
}

.ingredient-text {
    font-size: 1rem;
    color: rgba(168, 68, 68, 0.87);
}

.ingredient-weight {
    color: #009b67;
    font-size: 1rem;
}

.alert {
    margin: 0 auto 0.1rem auto;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.4rem .1rem 0 .1rem;
    text-align: center;
}

.alert h3 {
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(168, 68, 68, 0.9);
}

@media screen and (max-width: 1200px) {
    .recipes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .search-form {
        width: 40rem;
    }
}

@media screen and (max-width: 800px) {
    .recipes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 770px) {
    .search-form {
        width: 80%;
        margin: 0 auto 5rem auto;
        height: 7rem;
    }

    .search-form input {
        font-size: 1.1rem;
        height: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .recipes {
        grid-template-columns: repeat(1, 1fr);
    }
}